@model IEnumerable<Garage20MvcCore22.Models.ParkedVehicle>
@{
    ViewData["Title"] = "Index";
}
<h1>All vehicles</h1>
<p>
    <a asp-action="CheckIn">Create New</a>
</p>
@*@model Enum*@
@*@Html.DropDownListFor(m => m, Html.GetEnumSelectList(Model.GetType()))*@
@*@Html.DropDownListFor(m => m, Html.GetEnumSelectList(typeof(enum)))*@
@*@Html.GetEnumSelectList(Enum.GetValues(VehicleType)*@
@using (Html.BeginForm())
{
    <p>
        Find by Register Number: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Vehicle Type", "AllVehicles", new { sortOrder = ViewBag.VTypeSortParm })
                    @*@Html.DisplayNameFor(model => model.VehicleType)*@
                </th>
                <th>
                    @Html.ActionLink("Register Number", "AllVehicles", new { sortOrder = ViewBag.RegSortParm })
                    @*@Html.DisplayNameFor(model => model.RegNr)*@
                </th>
                <th>
                    @Html.ActionLink("Number Of Wheels", "AllVehicles", new { sortOrder = ViewBag.NRWheelSortParm })
                    @*@Html.DisplayNameFor(model => model.NrOfWheels)*@
                </th>
                <th>
                    @Html.ActionLink("Color", "AllVehicles", new { sortOrder = ViewBag.ColorSortParm })
                    @*@Html.DisplayNameFor(model => model.Color)*@
                </th>
                <th>
                    @Html.ActionLink("Model", "AllVehicles", new { sortOrder = ViewBag.ModelSortParm })
                    @*@Html.DisplayNameFor(model => model.Model)*@
                </th>
                <th>
                    @Html.ActionLink("Brand", "AllVehicles", new { sortOrder = ViewBag.BrandSortParm })
                    @*@Html.DisplayNameFor(model => model.Brand)*@
                </th>
                <th>
                    @Html.ActionLink("Start Time", "AllVehicles", new { sortOrder = ViewBag.StartTimeSortParm })
                    @*@Html.DisplayNameFor(model => model.StartTime)*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parked)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType)
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NrOfWheels)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parked)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
